<a href="https://colab.research.google.com/github/jesspl/prediction/blob/main/proyecto2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Proyecto 2 - Parte 2 (base)
Al usar el conjunto de datos aprobado que propusieron para el proyecto 2, parte 1 la semana pasada, limpiarán y explorarán el conjunto de datos.  

Para cumplir con los requisitos para esta semana, deben haber:

-eliminado las columnas innecesarias

-eliminado las filas duplicadas

-identificado y abordado los valores faltantes 

-identificado y corregido las inconsistencias en los datos para los valores categóricos (es decir, Cat, cat, cats)

-producido visuales univariantes para el objetivo y todas las características

-identificado los valores atípicos

-producido un mapa de calor de correlación e identificado cualquier correlaciones moderadas o fuertes entre el objetivo y las características y/o entre una característica y otra

-comentado todos los pasos de limpieza y descrito todas las decisiones que tomaron. (Nota: durante la pila final del programa, harán una presentación para una audiencia técnica que incluirá sus decisiones y procesos en los pasos de limpieza. Entre más notas tomen ahora, más fácil será la presentación. Para clarificar, esa presentación NO se entrega ahora).

Deberían comenzar a trabajar en su EDA* en profundidad y a hacer visuales multivariantes para la próxima parte 3 de esta tarea una vez que hayan presentado todas las tareas y el examen de cinturón para esta pila.

Comprometan su archivo al repositorio Github y envíen el enlace abajo.

https://www.kaggle.com/datasets/ppicardo/real-estate-offers-in-montevideo-uruguay

In [2]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Colab_notebooks/coding_dojo/semana8/top_100_anime_movie.csv')

df.head()

,rank,title,rating,votes,year,minutes,genre,gross
0,1,Ramayana: The Legend of Prince Rama,9.2,"7,549",1993,97.0,"Animation, Action, Adventure",NaN
1,2,Spirited Away,8.6,"756,112",2001,125.0,"Animation, Adventure, Family",$10.06M
2,3,Meiji Tokyo Renka Movie: Yumihari no Serenade,8.5,39,2015,60.0,"Animation, Fantasy, Romance",NaN
3,4,"Natsu e no tunnel, Sayonara no deguchi",8.5,23,2022,83.0,Animation,NaN
4,5,Attack on Titan: Chronicle,8.5,"10,421",2020,122.0,"Animation, Action, Adventure",NaN

In [3]:
# Revisar el numero de columnas y datos vacios
print(df.info(), '\n')
print(df.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rank     100 non-null    int64
 1   title    100 non-null    object
 2   rating   100 non-null    float64
 3   votes    100 non-null    object
 4   year     100 non-null    int64
 5   minutes  96 non-null     float64
 6   genre    100 non-null    object
 7   gross    20 non-null     object
dtypes: float64(2), int64(2), object(4)
memory usage: 6.4+ KB
None

rank        0
title       0
rating      0
votes       0
year        0
minutes     4
genre       0
gross      80
dtype: int64

In [ ]:
#revision de datos duplicados
df.duplicated().sum() #se olserva que no hat datos duplicados

La informacion en general tiene datos claros, de unas 100 filas por lo que son pocos datos en la base. 


revisando mas cuidadosamente los datos tienen mucha informacion vacia y no hay manera de relacionar costos de taquilla con costos de produccion por lo que siento que es una base de datos pobre, pedire revision de cambio de proyecto por la segunda opcion o por:

https://www.kaggle.com/datasets/ppicardo/real-estate-offers-in-montevideo-uruguay